.publications
  - if @publication.errors.any?
    .row.justify-content-center
      #error_explanation.alert.alert-danger.col.col-10{role: 'alert'}
        %h4= "#{pluralize(@publication.errors.count, "error")} prohibited this from being saved:"
        %ul
          - @publication.errors.full_messages.each do |message|
            %li= message
  .row
    .col.col-12.col-lg-6
      = render 'record', r: @wos_record
    .col.col-12.col-lg-6
      - if @publication.ready_to_publish?
        = render 'publish_button'
      = render 'attached_files'
      = render 'events'
