:javascript
  $(document).ready(function() {
    $('#jobs_table').DataTable({
      stateSave: true
    });
  });

%h1 Jobs
%table#jobs_table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Updated
      %th User
      %th.message Message
      %th Status
  %tbody
    - @jobs.order(updated_at: :desc).each do |j|
      %tr{ class: "#{j.restartable ? 'restartable text-white' : ''}" }
        %td
          = j[:name]
          - if j.publication
            %br
            = link_to j.publication.web_of_science_source_record[:uid], publication_path(j.publication)
        %td= j[:updated_at]
        %td
          - if j.user || j.cas_user
            .badge.badge-primary=j.user.present? ? j.user.email : j.cas_user.email
        %td.message= j[:message]
        %td.text-center
          - if j.restartable && j.publication
            .material-icons.bg-danger.text-white.restart{'data-toggle' => 'tooltip', 'data-placement' => 'top', title: t('tooltip.restart') }= link_to "cached", publication_restart_job_path(j.publication, j)
          - else
            .material-icons{class: "text-#{j.status_hash[:class]}", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: j.status_hash[:tooltip] }= j.status_hash[:icon]
