%nav.navbar.navbar-default.navbar-expand-md
  .logo.toggle-down.navbar-brand= link_to image_tag("oregonState.svg"), root_path
  <!-- Brand and toggle get grouped for better mobile display -->
  %button.navbar-toggler.navbar-light{ type: "button", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1", 'aria-expanded' => "false", 'aria-label' => "Toggle navigation", 'aria-controls' => "bs-example-navbar-collapse-1" }
    %span.navbar-toggler-icon
  <!-- Collect the nav links, forms, and other content for toggling -->
  .collapse.navbar-collapse#bs-example-navbar-collapse-1
    - if user_signed_in?
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item.welcome
          %p
            Logged in as
            = current_user.username
        - if current_user.admin?
          %li.nav-item.link= link_to 'All Publications', publications_path, class: 'nav-link'
          %li.nav-item= link_to 'Admin', rails_admin_path, class: 'nav-link faded'
        - else
          %li.nav-item.link= link_to 'My Publications', root_path, class: 'nav-link'
        %li.nav-item= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link faded'
  #sub_nav
    %h1 Easy Deposit @ Oregon State University Libraries and Press
